<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.yuhang.mapper.TeacherMapper">

    <resultMap id="teacherResultMap" type="Teacher">
        <result column="Teacher_id" property="teacherId"/>
        <result column="Teacher_name" property="teacherName"></result>
    </resultMap>
    <resultMap id="accountTeacherResultMap" type="AccountTeacher">
        <result column="Teacher_id" property="teacherId"></result>
        <result column="Teacher_number" property="teacherNumber"></result>
        <result column="Teacher_password" property="teacherPassword"></result>
    </resultMap>

    
    
    <select id="teacherName" resultType="string">
        select all_teacher.Teacher_name

        FROM all_teacher

        WHERE all_teacher.Teacher_id = #{teacherId}

    </select>

</mapper>